{
    "extends": [ "wesbos/typescript" ],
    "settings": {
        "import/resolver": {
          "typescript": {} // this loads <rootdir>/tsconfig.json to eslint
          
        }
      },
      "rules": {
        "no-use-before-define": "off",
        "@typescript-eslint/no-use-before-define": ["error"],
        "react/jsx-filename-extension": [
          2,
          {
            "extensions": [
              ".js",
              ".jsx",
              ".ts",
              ".tsx"
            ]
          }
        ],
        "prettier/prettier": [
          "error",
          {
            "trailingComma": "es5",
            "singleQuote": true,
            "parser": "typescript",
            "printWidth": 100,
            "tabWidth": 2
          }
        ]
      }
}